body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
a:visited{
    color: brown;
}
.navBar{
    background-color: black;
    padding: 5px 20px;
    border: none;
    margin-top: 0px;
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color:black;
    color: yellow;
    padding: 10px 15px;
    border: none;
    cursor:pointer;
}
.dropdown a{
    display: block;
    color:yellow;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0%, 0%, 0%);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0%, 0%, 0%);
}
.dropdown a:hover{
    background-color: hsl(0%, 0%, 0%);
}