body {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.align_logo{
    height: 50px; 
    width: 200px;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
}
h3{
    font-family: 'Arial Black', Gadget, sans-serif;
    margin: 20px;
    text-align: center;
}
h6{
    font-family: 'Arial Black', Gadget, sans-serif;
    margin: 20px;
    text-align: center;
}
video{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.centre{
    display: block;
    margin: auto
}
.centre_home{
    background-color: black;
    display: block;
    margin: auto;
}
.centre_weapon{
    background-color: black;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 600px;
    margin-right: 0%;
}
.centre_history{
    background-color: black;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 900px;
    margin-right: 0%;
}
.centre_character{
    background-color: black;
    display: inline-block;
    margin-left: 1015px;
}
.resize_small{
    width: 200px;
    height: 200px;
}
a:visited{
    color: brown;
}
.navBar{
    background-color: black;
    padding: 5px 20px;
    border: none;
    margin-top: 0px;
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color:black;
    color: yellow;
    padding: 10px 15px;
    border: none;
    cursor:pointer;
}
.dropdown a{
    display: block;
    color:yellow;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0%, 0%, 0%);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0%, 0%, 0%);
}
.dropdown a:hover{
    background-color: hsl(0%, 0%, 0%);
}